streamlit
langchain-community
langchain-experimental
langchain-pinecone==0.2.0
langchain-openai==0.2.2
langchain-ollama
langchain-huggingface
langchain-text-splitters
pinecone-notebooks==0.1.1
faiss-cpu
pdfplumber
huggingface-hub
ollama
sentence-transformers